.App {
  text-align: center;
  margin: auto;
}

html {
  background-color: #f9d990;
}

.bodyContainer {
  position: relative;
  display:flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #f9d990;
}